home-page{
        
                

    
}



ion-content{

        background-color: aqua !important;
        background-size: cover;
        background-position: center; 
    
}


.ff{
        border:  2px solid brown;
        padding: 10px;
}#div1{
        border: 2px solid orangered;
        width: 100%;
        
}